<div class="panel panel-default topspace">
  <div class="panel-body">
    <%= form_for @stripe_account do | f | %>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :account_type, "Account Type" %>
            <%= f.select(:account_type, options_for_select([["Individual","individual"], ["Company","company"]], @stripe_account[:account_type]), {}, { class: "form-control input-lg" }) %>
          </div>
        </div>
      </div>
      <div class="row business-row hidden">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :business_name, "Business name (as it appears to the IRS)" %>
            <%= f.text_field :business_name, class: "form-control input-lg", placeholder: "My Business LLC" %>
          </div>
        </div>
      </div>
      <div class="row business-row hidden">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :business_tax_id, "Business tax ID/EIN" %>
            <%= f.text_field :business_tax_id, class: "form-control input-lg", placeholder: "27-0000000" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :first_name, "First Name" %>
            <%= f.text_field :first_name, class: "form-control input-lg", placeholder: "Jane" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :last_name, "Last Name" %>
            <%= f.text_field :last_name, class: "form-control input-lg", placeholder: "Doe" %>
          </div>
        </div>
      </div>
      <% if @full_account %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :ssn_last_4, "Last 4 digits of your SSN" %>
              <%= f.text_field :ssn_last_4, class: "form-control input-lg", placeholder: "6789" %>
            </div>
          </div>
        </div>
        <%= hidden_field_tag :full_account, value: "true" %>
      <% end %>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :dob_month, "DOB Month" %>
            <%= f.select(:dob_month, options_for_select([["January", "1"],["February", "2"],["March", "3"],["April", "4"],["May", "5"],["June", "6"],["July", "7"],["August", "8"],["September", "9"],["October", "10"],["November", "11"],["December", "12"]], @stripe_account[:dob_month]), {}, { class: "form-control input-lg" }) %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :dob_day, "DOB Day" %>
            <%= f.select(:dob_day, options_for_select((1..31).each{|n| [n, n]}, @stripe_account[:dob_day]), {}, { class: "form-control input-lg" }) %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :dob_year, "DOB Year" %>
            <%= f.select(:dob_year, options_for_select((1912..2016).each{|n| [n, n]}, @stripe_account[:dob_year]), {}, { class: "form-control input-lg" }) %>
          </div>
        </div>
      </div>
      <hr>
      <% if @full_account %>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :address_line1, "Street address" %>
              <%= f.text_field :address_line1, class: "form-control input-lg", placeholder: "185 Berry St" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :address_city, "City" %>
              <%= f.text_field :address_city, class: "form-control input-lg", placeholder: "San Francisco" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :address_state, "State" %>
              <%= f.select(:address_state, options_for_select(states, @stripe_account[:address_state]), {}, { class: "form-control input-lg" }) %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :address_postal, "Zip" %>
              <%= f.text_field :address_postal, class: "form-control input-lg", placeholder: "90210" %>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.check_box :tos %>
            <%= f.label :tos do %>
              I agree to the  <%= link_to "terms of service", terms_path %>.
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.button "Create Account", class: "btn btn-primary btn-lg btn-block btn-custom", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Creating account..."} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  $(function(){
    $('#stripe_account_account_type').change(function(){
      if($('#stripe_account_account_type').val() == 'company'){
          $('.business-row').removeClass('hidden'); 
        } else {
          $('.business-row').addClass('hidden'); 
        } 
    });
  });
</script>