<div class="panel panel-default topspace">
  <div class="panel-body">
    <%= form_for @stripe_account do | f | %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :first_name, "First Name" %>
            <%= f.text_field :first_name, class: "form-control input-lg", placeholder: "Jane" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :last_name, "Last Name" %>
            <%= f.text_field :last_name, class: "form-control input-lg", placeholder: "Doe" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :account_type, "Account Type" %>
            <%= f.select(:account_type, options_for_select([["Individual","individual"], ["Company","company"]], @stripe_account[:account_type]), {}, { class: "form-control input-lg" }) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>DOB Month</label>
            <%= f.select(:dob_month, options_for_select([["January", "1"],["February", "2"],["March", "3"],["April", "4"],["May", "5"],["June", "6"],["July", "7"],["August", "8"],["September", "9"],["October", "10"],["November", "11"],["December", "12"]], @stripe_account[:dob_month]), {}, { class: "form-control input-lg" }) %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>DOB Day</label>
            <%= f.select(:dob_day, options_for_select((1..31).each{|n| [n, n]}, @stripe_account[:dob_day]), {}, { class: "form-control input-lg" }) %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>DOB Year</label>
            <%= f.select(:dob_year, options_for_select((1912..2016).each{|n| [n, n]}, @stripe_account[:dob_year]), {}, { class: "form-control input-lg" }) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.check_box :tos %>
            <%= f.label :tos do %>
              I agree to the  <%= link_to "terms of service", terms_path %>.
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.button "Create Account", class: "btn btn-primary btn-lg btn-block btn-custom", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Creating account..."} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>