<div class="row">
  <div class="col-md-4 topspace">
    <a class="campaign-image" href="javascript:void(0);" id="money">
      <%= image_tag("money_sm.jpg", alt: "Generic money image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="campaign-image" href="javascript:void(0);" id="travel">
      <%= image_tag("travel_sm.jpg", alt: "Generic travel image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="campaign-image" href="javascript:void(0);" id="beach">
      <%= image_tag("beach_sm.jpg", alt: "Generic beach image", class: "img-thumbnail") %>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-4 topspace">
    <a class="campaign-image" href="javascript:void(0);" id="desk">
      <%= image_tag("desk_sm.jpg", alt: "Generic desk image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="campaign-image" href="javascript:void(0);" id="puppy">
      <%= image_tag("puppy_sm.jpg", alt: "Generic puppy image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="campaign-image" href="javascript:void(0);" id="snow">
      <%= image_tag("snow_sm.jpg", alt: "Generic snow image", class: "img-thumbnail") %>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-4 topspace">
    <a class="campaign-image" href="javascript:void(0);" id="ocean">
      <%= image_tag("ocean_sm.jpg", alt: "Generic ocean image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="campaign-image" href="javascript:void(0);" id="sf">
      <%= image_tag("sf_sm.jpg", alt: "Generic SF image", class: "img-thumbnail") %>
    </a>
  </div>
  <div class="col-md-4 topspace">
    <a class="campaign-image" href="javascript:void(0);" id="wedding">
      <%= image_tag("wedding_sm.jpg", alt: "Generic wedding image", class: "img-thumbnail") %>
    </a>
  </div>
</div>