<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Transfer ID</th>
          <th>Destination</th>
          <th>Amount</th>
          <th>Deposit date</th>
        </tr>
      </thead>
      <tbody>
        <% @payouts.each do |payout| %>
          <tr>
            <td><%= payout.id %></td>
            <td>
              <% if payout.type.eql?('bank_account') %>
                <%= payout.bank_account.bank_name %> ending in <%= payout.bank_account.last4 %>
              <% elsif payout.type.eql?('card') %>
                <%= payout.destination.brand %> ending in <%= payout.destination.last4 %>
              <% end %>
            </td>
            <td><%= format_amount(payout.amount) %></td>
            <td><%= format_date(payout.arrival_date) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>