<%= content_for :page_title, "#{@campaign.title.titleize} | Fundraising Marketplace" %>
<% content_for(:header) do %>
  <% if params[:elements].present? %>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      $(function(){
        // Set your Stripe publishable API key here
        var stripe = Stripe("<%= ENV['PUBLISHABLE_KEY'] %>");

        var elements = stripe.elements();

        // Style the payment element
        var style = {
          base: {
            fontSize: "16px"
          }
        };

        // Create an instance of the card Element
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>
        card.mount('#card-element');

        // Listen for errors
        card.addEventListener('change', function(event) {
          var displayError = document.getElementById('card-errors');
          if (event.error) {
            displayError.textContent = event.error.message;
            displayError.style.display = 'block';
          } else {
            displayError.textContent = '';
            displayError.style.display = 'none';
          }
        });

        // Create a token
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
          event.preventDefault();

          // Validate the form isn't empty before requesting a token
          if (document.getElementById('amount').value == '' || document.getElementById('name').value == ''){
            
            return false;
          }

          var submit_btn = document.getElementById('submit_payment');
          var errorElement = document.getElementById('card-errors');
          submit_btn.innerHTML = "<i class='fa fa-spinner fa-spin'></i> Making donation...";
          submit_btn.className += " disabled";
          stripe.createToken(card).then(function(result) {
            if (result.error) {
              errorElement.textContent = result.error.message;
              errorElement.style.display = 'block';
              submit_btn.innerHTML = "Make a donation";
              submit_btn.classList.remove("disabled");
            } else {
              // Reset errors
              errorElement.textContent = '';
              errorElement.style.display = 'none';
              // Send the token to your server
              stripeTokenHandler(result.token);
            }
          });
        });

        // Submit the token
        function stripeTokenHandler(token) {
          // Insert the token ID into the form so it gets submitted to the server
          var form = document.getElementById('payment-form');
          var hiddenInput = document.createElement('input');
          hiddenInput.setAttribute('type', 'hidden');
          hiddenInput.setAttribute('name', 'stripeToken');
          hiddenInput.setAttribute('value', token.id);
          form.appendChild(hiddenInput);

          // Submit the form
          form.submit();
        }
      });
    </script>
  <% else %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
      $(function() {
        var handler = StripeCheckout.configure({
          key: '<%= ENV['PUBLISHABLE_KEY'] %>',
          image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
          locale: 'auto',
          token: function(token) {
            $("#stripeToken").val(token.id);
            $("#checkout_form").submit();
          }
        });

        document.getElementById('checkoutBtn').addEventListener('click', function(e) {
          // Clear any errors
          $('#amount').parent('.form-group').removeClass('has-error');

          // Check for a valid amount
          if ($('#amount').val() == ''){
            $('#amount').parent('.form-group').addClass('has-error');
            e.preventDefault();
            return false;
          }
          else {
            // Set the donation amount
            var amount = $("#amount").val().replace('$','') * 100;
            var displayAmount = parseFloat(Math.floor($("#amount").val() * 100) / 100).toFixed(2);
          }

          // Open Checkout with further options:
          handler.open({
            name: 'Fundraising Marketplace',
            description: 'Donation',
            zipCode: true,
            alipay: true,
            amount: amount
          });
          e.preventDefault();
        });

        // Close Checkout on page navigation:
        window.addEventListener('popstate', function() {
          handler.close();
        });
      });
    </script>
  <% end %>
<% end %>
<div class="container">
  <div class="row topspace-lg">
    <div class="col-md-8">
      <%= render 'layouts/messages' %>
      <% unless @campaign.active %>
        <div class="alert alert-danger">
          This campaign is no longer active.
        </div>
      <% end %>
      <div>
        <%= image_tag("#{@campaign.image}?q=50&fm=jpg&w=800&fit=max", class: "img-responsive img-thumbnail") %>
      </div>
      <h2 class="page-header text-center"><%= @campaign.title.titleize %></h2>
      <h3 class="goal text-center">
        <% if @campaign.raised %>
           <span class="raised"><%= format_amount(@campaign.raised) %></span> raised so far of <strong><%= number_to_currency(@campaign.goal) %> goal</strong>
        <% else %>
          <strong><%= number_to_currency(@campaign.goal) %> goal</strong>
        <% end %>
      </h3>
      <div class="panel panel-default topspace-lg">
        <div class="panel-body lato">
          <%= simple_format(@campaign.description) %>
        </div>
      </div>
      <h3 class="text-center page-header">Donations</h3>
      <% unless @campaign.raised.to_i > 0 %>
        This campaign has not received any donations yet.
      <% else %>
        <%= render 'donations' %>
      <% end %>
    </div>
    <div class="col-md-4">
      <% if params[:elements].present? %>
        <%= render 'paymentform' %>
      <% else %>
        <%= render 'checkoutform' %>
      <% end %>
      <% if current_user && @campaign.user_id.eql?(current_user.id) && @campaign.active %>
        <h3 class="page-header text-center"><i class="fa fa-edit purple"></i> Your campaign</h3>
        <p>
          <%= link_to "Edit this campaign", edit_campaign_path(@campaign), 
            class: "btn btn-lg btn-primary btn-custom btn-block"%>
        </p>
        <p>
          <%= link_to "Delete this campaign", campaign_path(@campaign), method: :delete, data: { confirm: "Are you sure you want to delete this campaign?" }, class: "btn btn-lg btn-block btn-custom btn-danger" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
