<%= content_for :page_title, "View payout" %>
<div class="container">
  <div class="row topspace-lg">
    <div class="col-md-12">
      <h1 class="text-center">Payout details</h1>
      <div>
        <%= render 'layouts/messages' %>
      </div>
      <div class="panel panel-default topspace-lg">
        <div class="panel-body">
          <strong>Payout overview</strong>
          <hr>
          <dl class="dl-horizontal">
            <dt>Date paid</dt>
            <dd><%= format_date(@payout.created) %></dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Payout amount</dt>
            <dd><%= format_amount(@payout.amount) %></dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Bank account</dt>
            <dd><%= "#{@payout.bank_account.bank_name} ending in #{@payout.bank_account.last4}" %></dd>
          </dl>
        </div>
      </div>
      <div class="panel panel-default topspace">
        <div class="panel-body">
          <strong>Payout transactions</strong>
          <hr>
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Type</th>
                <th>Gross</th>
                <th>Fee</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% @txns.auto_paging_each do |txn| %>
                <% unless txn.type.eql?('transfer') && txn.source.method.eql?('standard') %>
                  <tr>
                    <td>
                      <% if txn.type.eql?('payment') %>
                        <%= link_to "Payment", charge_path(txn.source.source_transfer.source_transaction) %>
                      <% elsif txn.type.eql?('payment_refund') %>
                        <%= link_to "Payment refund", charge_path(txn.source.charge.source_transaction) %>
                      <% elsif txn.type.eql?('adjustment') %>
                        Marketplace fee refund
                      <% elsif txn.type.eql?('transfer') && txn.source.method.eql?('instant') %>
                        <%= link_to "Instant payout", payout_path(txn.source.id) %>
                      <% else %>
                        <%= txn.type %>
                      <% end %>
                    </td>
                    <td><%= format_amount(txn.amount) %></td>
                    <td><%= format_amount(txn.fee) %></td>
                    <td><%= format_amount(txn.net) %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
