<%= content_for :page_title, 'Fundraising Marketplace | Review charge' %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center topspace-lg">
      <%= render 'layouts/messages' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">
        <%= @charge.id %> <small class="pull-right raised"><%= format_amount(@charge.amount) %></small>
      </h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>From</dt>
            <dd><%= @charge.metadata.name %></dd>
            <hr>
            <dt>Payment method</dt>
            <dd><%= @charge.source.brand %> ending in <%= @charge.source.last4 %></dd>
            <hr>
            <dt>For</dt>
            <dd><%= link_to @campaign.title, campaign_path(@campaign) %></dd>
            <hr>
            <dt>Marketplace fee</dt>
            <dd><%= format_amount(@charge.application_fee.amount) %></dd>
            <hr>
            <dt>Net earnings</dt>
            <dd><%= format_amount(@charge.amount - @charge.application_fee.amount) %></dd>
            <hr>
            <dt>Created</dt>
            <dd><%= format_date(@charge.created) %></dd>
            <hr>
            <dt>Refunded</dt>
            <dd><%= @charge.refunded %></dd>
            <hr>
            <dt>Disputed</dt>
            <dd><%= @charge.dispute.present? %></dd>
            <hr>
          </dl>
          <% if @charge.refunded %>
            <button class="btn btn-lg btn-block btn-custom btn-danger disabled">This charge has been refunded</button>
          <% elsif @charge.dispute.present? %>
            <div class="text-center">
              <% if @charge.dispute.status.eql?('needs_response') %>
                <span class="label label-danger">Needs response</span>
                This donation was disputed. <%= format_amount(@charge.dispute.balance_transactions.first.net.abs) %> in fees and disputed funds have been withdrawn from your account.
              <% elsif @charge.dispute.status.eql?('won') %>
                <span class="label label-success">Won</span>
                This dispute was won in your favor. <%= format_amount(@charge.dispute.balance_transactions.first.net.abs) %> in fees and disputed funds have been returned to your account.
              <% elsif @charge.dispute.status.eql?('lost') %>
                <span class="label label-default">Lost</span>
                The bank sided in favor of the donor. <%= format_amount(@charge.dispute.balance_transactions.first.net.abs) %> in fees and disputed funds have been withdrawn from your account.
              <% end %>
            </div>
          <% else %>
            <%= link_to "Refund this donation", charge_path(@charge.id), method: :delete, data: { confirm: "Are you sure you want to refund this charge?", disable_with: "<i class='fa fa-spinner fa-spin'></i> Refunding charge..." }, class: "btn btn-lg btn-block btn-custom btn-danger" %>
          <% end %>
        </div>
      </div>
      <% if @charge.dispute.present? && (@charge.dispute.status.eql?('needs_response') || @charge.dispute.status.eql?('under_review')) %>
        <%= render 'dispute' %>
      <% end %>
    </div>
  </div>
</div>
